{% extends 'base.html' %}
{% load static %}

{% block title %}Lista dietas | MyFitSpace{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/workout_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card w-100 shadow rounded-3" style="max-width: 800px;">
            <div class="card-body p-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bold text-primary mb-4">Dietas creadas por mí</h1>
                </div>

                <div class="list-group">
                    {% for semanaldiet in semanal_diets %}
                        <div class="list-group-item border-0 p-3 mb-3 bg-light shadow-sm">
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'diets:details_semanaldiet' semanaldiet.pk %}"
                                   class="text-decoration-none fw-bold text-primary">
                                    {{ semanaldiet.name|capfirst }}
                                </a>
                                <span>
                            <a href="{% url 'diets:person_delete_semanaldiet' semanaldiet.pk %}"
                               class="btn btn-sm btn-outline-danger"
                               title="Eliminar semana de dieta">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            <a href="{% url 'diets:update_semanaldiet' semanaldiet.pk %}"
                               class="btn btn-sm btn-outline-danger"
                               title="Editar semana de dieta">
                                <i class="fas fa-edit"></i>
                            </a>
                            </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-grid gap-3 mt-4">
                    <a href="{% url 'diets:form_semanaldiet' %}"
                       class="btn btn-outline-primary">Crear más dietas</a>
                    <a href="{% url 'diets:form_day' %}"
                       class="btn btn-outline-primary">Crear día dieta</a>
                    <a href="{% url 'diets:form_daydiet' %}"
                       class="btn btn-outline-primary">Añadir alimentos a los días</a>
                    <a href="{% url 'persons:index' %}"
                       class="btn btn-secondary">Volver a inicio</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
