<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for workout in usuario.user_workouts.all %}
	<ul>
        <li><a href="{% url 'workout_routines:workout_detail' workout.pk %}">{{ workout.name|capfirst }}</a>
            <ul>
                {% for routine in workout.routineexercise_set.all %}
                    <li>
                        {{ routine.exercise.name }}
                    </li>
                {% endfor %}

            </ul>
        </li>
    </ul>
{% endfor %}

<ul></ul>
</body>
</html>