{% extends 'base.html' %}
{% load static %}

{% block title %}Detalles entrenamiento | MyFitSpace{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/detail_workout.css' %}">
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card w-100 shadow rounded-3" style="max-width: 800px;">
            <div class="card-body p-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bold text-primary">{{ workout.name|capfirst }}</h1>
                    <h2 class="h5 text-muted">Ejercicios ({{ workout.routineexercise_set.count }})</h2>
                </div>

                <div class="list-group">
                    {% for routine in workout.routineexercise_set.all %}
                        <div class="list-group-item border-0 p-4 mb-4 bg-light shadow-sm">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h3 class="h5 fw-bold text-primary">{{ routine.exercise.name }}</h3>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-transparent">Series: {{ routine.sets }}</li>
                                <li class="list-group-item bg-transparent">Repeticiones: {{ routine.reps }}</li>
                                <li class="list-group-item bg-transparent">Descanso: {{ routine.rest_time }}seg</li>

                                <li class="list-group-item bg-transparent">
                                    <span class="text-muted small">Grupos musculares:</span>
                                    <ul class="list-inline mt-1">
                                        {% for muscle_group in routine.exercise.muscle_groups.all %}
                                            <li class="list-inline-item badge bg-secondary">{{ muscle_group.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                <li class="list-group-item bg-transparent">
                                    <span class="text-muted small">Equipamiento:</span>
                                    <ul class="list-inline mt-1">
                                        {% for equipment in routine.exercise.equipment_needed.all %}
                                            <li class="list-inline-item badge bg-info">{{ equipment.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                <li class="list-group-item bg-transparent">
                                    <span class="text-muted small">Descripción:</span>
                                    <blockquote class="blockquote mt-2 fs-6">
                                        {{ routine.exercise.description }}
                                    </blockquote>
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-grid gap-3 mt-4">
                    <a href="javascript:history.back()"
                       class="btn btn-secondary">Volver atrás</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}